
<!doctype html>
<html lang="en">
  <head>
    {%load static%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>home</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{%url 'home'%}">Nanthagopal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto ">
                <a class="nav-item nav-link" href="https://facebook.com/">Facebook</a>
                <a class="nav-item nav-link" href="{%static 'resume.pdf'%}">Resume</a>
                <a class="nav-item nav-link" href="{%url 'allblogs'%}">Blog</a>
              </div>
            </div>
        </nav> 
  </header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>hi, i'm gopal</h1>
      <p class="lead text-muted">welcome to my official blog page, here you can know about me, you can view my pictures,recent updates of mine and my resume</p>
      <p>
        <a href="mailto:nanthu0123@gmail.com" class="btn btn-primary my-2">E-Mail Me</a>
      </p>
      <img src="{%static 'profile.jpg'%}" height="300">
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {%for job in jobs.all%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="img-fluid" src="{{job.image.url}}">
            <div class="card-body">
              <p class="card-text">{{job.summary}}</p>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</main>
<footer class="text-muted">
  <div class="container text-center">
    <p>©️ Nanthagopal {% now "Y" %}</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>